/* Components.css */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.total-price {
  text-align: right;
  margin-top: 20px;
}

body {
  background-color: #f0f0f0;
}

.nav-menu {
  padding: 1px 1px 1px 1px;
  margin: 0;

  border-radius: 5px;
  background-color: rgb(200, 200, 200);
}
.ul-menu {
  display: flex;
  justify-content: space-between;
}
.nav-menu li {
  width: 25%;
  height: 34px;
  text-align: center;
  margin-right: 10px;
  padding: 4px;
  font-size: 1.5rem;
}
.nav-menu li:hover {
  font-size: larger;
}
.div-span-cart {
  display: flex;
  gap: 45px;
  padding: 0 15px 0 15px;

  align-items: center; /* Optional, for vertical alignment */
  justify-content: space-between;
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Optional, remove underline from the link */
}

.cart-content {
  display: flex;
  align-items: center;
}

.cart-icon {
  margin-right: 5px; /* Optional, adjust spacing */
  font-size: 1.5rem;
}

.cart-icon:hover {
  font-size: 1.8rem;
}
.span_number {
  margin-left: 5px; /* Optional, adjust spacing */
  background-color: green;
  width: 30px;
  color: white;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}

.link-payment {
  margin: 45px auto;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 700;
  align-items: center;
  width: auto;
  height: 50px;
}
.link-payment:hover {
  text-decoration: underline;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  width: auto;
}

.id-cart-to-invisible {
  display: none;
}
.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  font-size: large;
  padding: 0;
  margin: 0;
}
.buy-button-td {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}
.buy-button:hover {
  background-color: green;
  color: white;
  width: 100%;
  height: 155%;
}
