*{
  background-color: white
}
.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 96%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.task {
  margin-bottom: 10px;
}

.delete-button {
  border: none;
  width: 50px;
  color: gray;
  background-color: white;
  margin-right: 0px;
}
.delete-button:hover {
  color: red;
  background-color: white;
  font-size: larger;
  font-weight: 700;
}
.task-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

hr {
  border: none;
}

.li-task-container{
  width: 400px;
  overflow: hidden;
  margin-left: -40px;

}

ul{
  margin:0;
}

.edit-button, .add-button {
  border: none;
  width: 50px;
  color: gray;
  background-color: white;
  margin-right: -25px;
}
.edit-button:hover , .add-button:hover{
  color: blue;
  background-color: white;
  font-size: larger;
  font-weight: 700;
}
.add-button:hover{
  color: green;
  background-color: white;
  font-size: larger;
  font-weight: 700;
}

.input-add-container{
  display: flex;
}



/* Media Queries */

@media (max-width: 600px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 20px;
  
    background-color: white;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .task {
    margin-bottom: 10px;
  }
  
  .delete-button {
    border: none;
    width: 50px;
    color: gray;
    background-color: white;
    margin-right: 0px;
  }
  .delete-button:hover {
    color: red;
    background-color: white;
    font-size: larger;
    font-weight: 700;
  }
  .task-container {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  hr {
    border: none;
  }
  
  .li-task-container{
    width: 290px;
    overflow: hidden;
    margin-left: -40px;
  
  }
  ul{
    margin:0;
  }
  
  .edit-button, .add-button {
    border: none;
    width: 50px;
    color: gray;
    background-color: white;
    margin-right: -25px;
  }
  .edit-button:hover , .add-button:hover{
    color: blue;
    background-color: white;
    font-size: larger;
    font-weight: 700;
  }
  .add-button:hover{
    color: green;
    background-color: white;
    font-size: larger;
    font-weight: 700;
  }
  
  .input-add-container{
    display: flex;
  }
  
  
  
}