/* Components.css */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.total-price {
  text-align: right;
  margin-top: 20px;
}

body {
  background-color: #f0f0f0;
}

.nav-menu {
  padding: 0;
  margin: 0;

  border-radius: 5px;
  background-color: rgb(200, 200, 200);
}
.ul-menu {
  display: flex;
  justify-content: space-between;
}
.nav-menu li {
  width: 25%;
  height: 34px;

  text-align: center;
  margin-right: 10px;
  padding: 4px;
  font-size: large;
}
.nav-menu li:hover {
  font-size: larger;
}

li {
  list-style: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.li-span-cart {
  display: flex;
}
.span_number {
  font-size: 10px;
  position: absolute;
  top: 22px;
  right: 80px;
  background-color: green;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0px;
}
.link-payment {

  margin: 45px auto;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 700;
  align-items: center;

  height: 50px;
 
  ;
}
.link-payment:hover {
  text-decoration: underline;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  width: 250px;


 
  ;
}